
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

/* Sur ordinateur */

/* .hoverImg, .prev-link {
  position: fixed;
  right: 0px;
  top: 250px;
} */

.div-song {
  width: 60%;
  margin-top: 30px;
}


p {
  font-family: "Fanwood Text";
  font-style: italic;
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0px;
  font-family: "Tilt Neon";
  font-size: clamp(14px, 5vw, 70px);
  letter-spacing: -3px;
  transition:  200ms ease;
  font-variation-settings: "wght" 311;
  position: relative;
}

h1:after {
  position: absolute;
  opacity: 0;
  content: attr(data-text);
  color: red;
  padding: 0;
  margin: 0px;
  font-family: "Tilt Neon";
  font-size: clamp(14px, 6.4vw, 80px);
  letter-spacing: -3px;
  transition: 200ms ease;
  font-variation-settings: "wght" 311;
  z-index: 1000;
}

h1:hover {
  font-variation-settings: "wght" 582; 
  letter-spacing: 1px;
}

h1:hover::after{
  opacity: 1;
}

input {
  outline: none;
  border: none;
}

input::placeholder {
  color: black;
  animation: flash 0.1s infinite;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

input[placeholder] {

}


/* Sur téléphone et tablette */



/* Bases */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;  
  scrollbar-width: none;
}
html {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
