
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap');

@media (max-width:560px) {
 

  h1 {
    letter-spacing: normal;
  }
  .hoverImg {
  z-index: 0 !important;
  }

.bg-title {
  z-index: 1 !important;
  }

.bg-title p {
  z-index: 2 !important;
  mix-blend-mode: exclusion;
  }

}

body {
  background-color: white;
}

.bg-title {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  
}

.bg-title p {
  font-size: clamp(120px, 26vw, 420px);
  color: black;
  font-weight: bold;
  margin: 0;
  padding: 0;
  z-index: 0;
  /* position: relative; */
  font-family: "Jacquard 24";
  line-height: 0.9;
}

.div-song {
  width: 65%;
  margin-top: 10px;
}


.p-artist {
  font-family: "Tilt Neon";
  font-style: italic;
  font-weight: 300;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 2 !important;
  font-size: clamp(22px, 2vw, 30px);
}

.p-artist.selected {
  font-weight: bold;
}

h1 {
  padding: 0;
  margin: 0px;
  font-family: "Tilt Neon";
  font-size: clamp(40px, 5vw, 70px);
  letter-spacing: -1px;
  /* transition:  50ms ease; */
  font-variation-settings: "wght" 311;
  position: relative;
  z-index: 2;
}

h1.selected {
  font-variation-settings: "wght" 582; 
  color: var(--hover-color);
  font-style: italic;
}

h1.selected::after {
  display: inline;
}

h1:after {
  position: absolute;
  display:none;
  content: attr(data-text);
  color: var(--hover-color-after);
  padding: 0;
  margin: 0px;
  font-family: "Pirata One";
  font-size: clamp(50px, 8vw, 200px);
  letter-spacing: 0px;
  transition: 200ms ease;
  font-variation-settings: "wght" 311;
  z-index: 1000;
}

/* h1:hover {
  font-variation-settings: "wght" 582; 
  letter-spacing: 1px;
  color: white;
  font-style: italic;
} */

/* h1:hover::after{
  display: inline;
} */

input {
  outline: none;
  border: none;
  position: relative;
}
.input-wrapper {
  position: relative;
  display: inline-block;
}

.input-wrapper input {
  font-size: 1.4rem;
  font-family: "Nunito";
  width: 300px;
  border: none;
  outline: none;
}

.typewriter-placeholder {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: "Nunito";
  font-size: 1.4rem;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid orange;
  width: 0;
  animation: typing 2s steps(22, end) forwards, blink-caret 0.6s step-end infinite;
  pointer-events: none;
}

@keyframes typing {
  from { width: 0 }
  to { width: 210px }
}

@keyframes blink-caret {
  0%, 100% { border-color: transparent }
  50% { border-color: grey }
}


/* .input-wrapper {
  position: relative;
  display: inline-block;
}

.input-wrapper input {
  font-size: 1rem;
  font-family: "Nunito";
}

.animated-placeholder {
  position: absolute;
  left: 0px;
  color: black;
  font-family: "Nunito";
  pointer-events: none;
  animation: flash 0.6s infinite;
}

@keyframes flash {
  0% { opacity: 1; }
  100% { opacity: 0.3; }
}


@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

input[placeholder] {

} */


/* Sur téléphone et tablette */



/* Bases */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;  
  scrollbar-width: none;
}
html {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
