/* Sur ordinateur */

.hoverImg {
  position: fixed;
  right: 0px;
  top: 250px;
}

/* Sur téléphone et tablette */

/* Bases */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
html {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
